/* Estilos del Footer */

.footer {
  /* Color de fondo oscuro (igual que el navbar) */
  background-color: #2c3e50;
  
  /* Texto en blanco */
  color: white;
  
  /* Centrar el texto */
  text-align: center;
  
  /* Espaciado interno */
  padding: 1rem;
  
  /* margin-top: auto empuja el footer hacia abajo cuando hay poco contenido */
  /* Funciona junto con el flex del contenedor padre */
  margin-top: auto;
  
  /* Ancho completo */
  width: 100%;
}
